.footer-container {
  background-color: #ffffff;
}
.footer-head {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}
.footer-head h3 {
  color: #074da1;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: 15px;
  text-transform: uppercase;
}
.footer-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.department {
  width: 21%;
  border: 1px solid #074da1;
  text-align: center;
  padding: 16px;
  border-radius: 10px;
  margin: 0 8px 12px 8px;
}
.contactNum {
  padding: 8px;
  height: 82px;
}
.department h4 {
  font-size: 14px;
  color: #074da1;
  font-weight: bold;
  margin-bottom: 8px;
  width: 100%;
}
.contactNum h4 {
  font-size: 13px;
}
.department p {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}
.contactNum p {
  margin-bottom: 8px;
}
footer {
  background-color: #074da1;
}
.footer-address {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.footer-address p {
  color: #ffffff;
  margin: 8px 0;
  padding: 8px 0;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 350px;
}
.scroll-btn {
  width: 40px;
  height: 40px;
  background-color: #074da1;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: 2px solid #ffef00;
}
.arrow {
  width: 24px;
  height: 36px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  color: #ffffff;
}
